body {
    font-family: Arial, sans-serif; /* Define a fonte */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimentos */
    background-color: #f0f0f0; /* Define a cor de fundo */
}

#container {
    width: 80%;
    margin: auto;
    text-align: center;
}

#taskList .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

#taskList .task span {
    flex-grow: 1;
    margin-right: 10px;
    overflow-wrap: break-word;
}

#taskList .task button {
    margin-left: 10px;
}

#add {
    width: 100%; 
    height: 35px;
    margin-top: 5px;
}

.task:hover {
    background-color: #ddd;
}

.remove, .edit {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}

.remove {
    background-color: #ff4c4c; /* Vermelho */
    color: rgb(189, 18, 146);
}

.edit {
    background-color: #4c4cff; /* Azul */
    color: rgb(28, 121, 106);
}