/* Estilos gerais para o corpo da página */
body {
    font-family: Arial, sans-serif; 
    background-color: #f5a8de; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #66c0f8; 
    padding: 10px;
    border-radius: 10px;
}

/* Estilos para o menu da barra de navegação */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Estilos para cada item do menu */
.menu-item {
    position: relative;
}

/* Estilos para os links do menu */
.menu-item a {
    color: #e1e4a5;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Estilos para os links do menu ao passar o mouse */
.menu-item a:hover {
    background-color: #bb2aa8;
}

/* Estilos para os links do menu que têm um submenu */
.menu-item-has-submenu > a::after {
    content: " ▼";
}

/* Estilos para o submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ccbaf5;
    padding: 0;
    margin: 0; 
    list-style: none;
    border-radius: 10px;
    z-index: 1000;
}

/* Estilos para os links do submenu */
.submenu li a {
    padding: 10px;
    color: #0891b4;
    text-decoration: none;
    display: block;
}

/* Estilos para os links do submenu ao passar o mouse */
.submenu li a:hover {
    background-color: #aaf7bd;
}

/* Mostra o submenu ao passar o mouse sobre o item do menu */
.menu-item:hover .submenu {
    display: block;
}