
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Imagens de fundo para as seções paralaxe */
.parallax1 {
    background-image: url('https://i.pinimg.com/736x/d6/8f/80/d68f80047045d7eda69e62d0e1fa45b3.jpg'); 
}
.parallax2 {
    background-image: url('https://i.pinimg.com/736x/4b/f0/4a/4bf04ae36cb6312376826b5335560fd0.jpg'); 
}

/* Estilos para a mensagem centralizada nas seções paralaxe */
.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 209, 98);
    font-size: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 20px;
}
/* Estilos comuns para as seções de conteúdo e a seção preta */
.common-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Estilos específicos para a seção de conteúdo */
.content {
    background-color: rgb(5, 5, 5);
}

/* Estilos específicos para a seção preta */
.black-section {
    background-color: black;
    color: rgb(243, 209, 98);
    font-size: 1.5em;
}