body {
    display: flex; 
    flex-direction: column; /* Alinha os elementos em uma coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    background-color: #eac8a8; 
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Define a fonte */
    padding: 20px; /* Adiciona preenchimento ao redor do corpo */
}

button {
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    margin-bottom: 20px; /* Adiciona margem inferior ao botão */
    font-size: 1.2em; /* Define o tamanho da fonte do botão */
    border-radius: 20px; /* Arredonda os cantos da borda */
    border: 4px solid #ff9a8d;
    background-color: #ff9a8d; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
}

#ft_list {
    width: 100%; /* Define a largura da lista de tarefas como 100% do contêiner */
    max-width: 500px; /* Define a largura máxima da lista de tarefas */
    background-color: #fff; /* Define a cor de fundo da lista de tarefas */
    border: 4px solid #ff9a8d; /* Adiciona uma borda cor-de-rosa */
    border-radius: 20px; /* Arredonda os cantos da borda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra à lista de tarefas */
    padding: 20px; /* Define o preenchimento interno da lista de tarefas */
}

.task {
    padding: 15px; /* Define o preenchimento interno das tarefas */
    margin: 15px 0; /* Adiciona margem vertical entre as tarefas */
    background-color: #ffd3b6; /* Define a cor de fundo das tarefas */
    border-radius: 10px; /* Arredonda os cantos das tarefas */
    cursor: pointer; /* Muda o cursor para indicar que as tarefas são clicáveis */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Define a fonte das tarefas */
    font-size: 1.1em; /* Define o tamanho da fonte das tarefas */
}
