/* Estiliza o corpo da página */
body {
    display: flex; 
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Define a altura para 100% da altura da janela de visualização */
    margin: 0; /* Remove margens */
    background-color: #7fd3f8; /* Define a cor de fundo */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Define a família de fontes */
}

/* Estiliza o contêiner da calculadora */
.calculator-container {
    text-align: center; /* Centraliza o texto */
    color: #dd17ac; /* Define a cor do texto */
    text-shadow: 2px 2px 2px #3789f4; /* Adiciona uma sombra ao texto */
    padding: 20px;
}

/* Estiliza o formulário */
form {
    display: flex; /* Usa flexbox para layout */
    flex-direction: column; /* Organiza os itens do flexbox em uma coluna */
    align-items: center; /* Centraliza os itens do flexbox horizontalmente */
    background-color: #eebceb; 
    padding: 20px; /* Adiciona preenchimento em todas as direções */
    border-radius: 20px; /* Arredonda os cantos da borda */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao formulário */
    border: 6px solid #f967b5; /* Adiciona uma borda ao formulário */
    gap: 15px; /* Adiciona espaçamento entre os itens do flexbox */
}

/* Estiliza os grupos de entrada */
.input-group {
    margin: 20px 0; /* Adiciona margem acima e abaixo */
    border-radius: 20px;  
}

/* Estiliza os campos de entrada e os menus suspensos */
input, select {
    padding: 10px; /* Adiciona preenchimento */
    border: 2px solid #f967b5; /* Adiciona uma borda */
    border-radius: 20px; /* Arredonda os cantos da borda */
    font-size: 1em; /* Define o tamanho da fonte */
    margin-bottom: 10px; /* Adiciona margem inferior */
}

/* Estiliza o botão de envio */
input[type="submit"] {
    background-color: #7cceeb; 
    color: #f967b5; /* Define a cor do texto */
    cursor: pointer; /* Muda o cursor para um ponteiro quando passa o mouse */
    border-radius: 20px; /* Arredonda os cantos da borda */
    padding: 10px 20px; /* Adiciona preenchimento */
    margin-top: 20px; /* Adiciona margem acima */
}

/* Estiliza o botão de envio quando o mouse passa sobre ele */
input[type="submit"]:hover {
    background-color: #17a1d7; /* Muda a cor de fundo */
}
